{% extends "base.html" %} {% block title %} Admin Home Page {% endblock %} {% block content %}
<section class="vh-100">
    <h1>Hello {{username}}!</h1>
    {% include "search_stock.html" %}
    <p>If you want to see the requests of Agents for singing up please <a href="/admin_agentrequestslist">click here!</a></p>
    <p>Queries:</p>
    <p>For Stock Query <a href="/admin_stockquery">click here!</a></p>
    <p>For Agents Query <a href="/admin_agentquery">click here!</a></p>
</section>

{% endblock %}