{% extends "base.html" %} {% block title %} Admin Home Page {% endblock %} {% block content %}
<style>
    [class*="adminButtons"]>* {
        margin: 0.3rem;
    }
</style>
<section class="vh-100">
    <div class="d-flex align-items-center justify-content-center" style="margin-top:3rem;">
        <h1>Hello {{username}}!</h1>
    </div>
    {% include "search_stock.html" %}
    <div class="d-flex align-items-center justify-content-center adminButtons" style="margin-top:3rem;">
        <a href="/admin_agentrequestslist"><button type="button" class="btn btn-info" data-mdb-ripple-color="dark">Agents Signup Requests</button></a>
        <a href="/admin_stockquery"><button type="button" class="btn btn-info" data-mdb-ripple-color="dark">Stocks Query</button></a>
        <a href="/admin_agentquery"><button type="button" class="btn btn-info" data-mdb-ripple-color="dark">Agents Query</button></a>
    </div>
</section>

{% endblock %}