{% extends "base.html" %} {% block title %} Agent Requests List{% endblock %} {% block content %}
<section class="vh-100">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Full name</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
            <th scope="col">Mobile</th>
            <th scope="col">Confirm</th>
            <th scope="col">Decline</th>
          </tr>
        </thead>
        <tbody>
        {%for agent in agents%}
            <form method="post" action="#">
                {% csrf_token %}
                <tr>
                <td>{{agent.ID}}</td>
                <td>{{agent.username}}</td>
                <td>{{agent.full_name}}</td>
                <td>{{agent.email}}</td>
                <td>{{agent.city}}</td>
                <td>{{agent.Mobile}}</td>
                <td><button type="submit" style="background-color:greenyellow" name="confirm" id="confirm"><input hidden=True name="confirm" value="{{agent.ID}}">Confirm</button></td>
                <td><button type="submit" style="background-color:red" name="decline" ><input hidden=True name="decline" value="{{agent.ID}}">Decline</button></td>
                </tr>
            </form>
        {%endfor%}
        </tbody>
      </table>
</section>
{% endblock %}