{% extends 'base.html' %} {% block title %} {{request.user.full_name}} MyPortfolio Page {% endblock %} {% block content %}
<div class="vh-100">
    <div class="d-flex align-items-center flex-column bd-highlight mt-4 mb-3">
        <h2>Hello {{request.user.full_name}}</h2>
        <h4>It's your portfolio page</h4>
    </div>

    <div class="d-flex align-items-left flex-column bd-highlight mt-4 mb-3">
        <button class="btn btn-info btn-rounded" type="submit" style="font-weight:bold; cursor:default; ">Portfolio Value: {{pval}}$</button>
    </div>

    <div>
        <h5>Your Stocks List</h5>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Stock Ticker</th>
                    <th scope="col">Count</th>
                    <th scope="col">Value</th>
                    <th scope="col">Buy</th>
                    <th scope="col">Sell</th>
                </tr>
            </thead>

            <tbody>
                {%for i in d%}
                <form method="post" action="#">
                    {% csrf_token %}
                    <tr>
                        <td>{{i.0}}</td>
                        <td>{{i.1}}</td>
                        <td>{{i.2}}</td>
                        <td>{{i.3}}$</td>

                        <form action='' method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <td>
                                <div>
                                    <input type="number" name="Buy_Amount" min="1" max="15" required>
                                    <button type="submit" style="background-color: rgb(53, 211, 211)" class="buy" name="buy" id="buy" value="{{i.0}}">Buy</button>
                                </div>
                            </td>
                        </form>
                        <form action='' method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <td>
                                <div>
                                    {% if i.2 != 0 %}
                                    <input type="number" name="Sell_Amount" min="1" max="{{i.2}}" required>
                                    <button type="submit" style="background-color: peachpuff" class="sell" name="sell" id="sell" value="{{i.0}}">Sell </button> {% else %}
                                    <p>No stocks to sell</p>
                                    {% endif %}
                                </div>
                            </td>
                        </form>

                    </tr>
                </form>
                {%endfor%}
            </tbody>

        </table>

        <!-- <div class="d-flex align-items-center flex-column bd-highlight mt-4 mb-3">
            <button class="btn btn-dark btn-rounded" type="submit" >Remove Portfolio</button>
        </div> -->

        <form action='' method="post" enctype="multipart/form-data" class="d-flex align-items-center flex-column bd-highlight mt-4 mb-3">
            {% csrf_token %}
            <td>
                <button type="submit" class="remove" name="remove" id="remove">Remove Portfolio</button>
            </td>
        </form>

    </div>
</div>
{% endblock %}